###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set Project specific behaviours
###############################################################################
*.scar linguist-language=Lua
*.win linguist-language=Lua
*.ucs text working-tree-encoding=UTF-8