<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Fragment>

		<!-- Product Componets -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<!-- Shortcut -->
			<ComponentRef Id="MainAppShortcuts"/>
			
		</ComponentGroup>
	
		<!-- Installed files -->
		<DirectoryRef Id="INSTALLFOLDER">
			
			<!-- Shortcut to main application -->
			<Component Id="MainAppShortcuts" Guid="{8728FEA1-9313-49D2-AAFA-9E17A395A577}">

				<Shortcut Id="MainAppShortcut" 
						  Name="!(loc.ProductNameFolder)" 
						  Target="[INSTALLFOLDER]coh2-battlegrounds.exe" 
						  Directory="ProgramMenuFolder" 
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="icon.ico"/>

				<Shortcut Id="MainAppDescktopShortcut"
						  Name="!(loc.ProductNameFolder)"
						  Target="[INSTALLFOLDER]coh2-battlegrounds.exe"
						  Directory="DesktopFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="icon.ico"/>

				<Shortcut Id="UninstallProductShortcut"
                          Name="Uninstall"
                          Description="Uninstalls application"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"
						  Icon="icon.ico"/>
				
				<!-- Our unique key for this component shortcut -->
				<RegistryValue Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="BGInstaller" Value="1" Type="integer" KeyPath="yes" />
				
			</Component>

		</DirectoryRef>
		
	</Fragment>
	
</Wix>
